header {
  margin-bottom: 50px;
}

.js-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.main-page {
  display: flex;
  justify-content: center;
}

.main-conteiner {
  width: 100vh;
}

.themes-container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.themes-title {
  margin-bottom: 30px;
}

.themes-list {
  list-style-type: none;
  justify-content: space-around;
  padding: 0 10px;
}

.themes-list li {
  margin-bottom: 30px;
  text-align: center;
}

.card-title {
  margin-bottom: 25px;
}

.card-progress-title {
  margin-bottom: 15px;
}

.card-body {
  padding: 30px 0;
}

.card-progress-common {
  position: relative;
  height: 40px;
  width: 200px;
  margin: 0 auto;
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 20px;
  margin: 0 auto;
  margin-bottom: 25px;
  border: 1px solid rgba(255, 255, 255, 0.35);
  border-radius: 8px;
}

.js-header {
  height: 80px;
}

.js-nav {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  width: 500px;
}

.js-nav-link {
  color: rgb(255, 255, 255);
}

.main-title {
  display: flex;
  justify-content: space-around;
  font-size: 60px;
  height: 300px;
  align-items: center;
}

.js-btn {
  display: flex;
  height: 50px;
  width: 130px;
  align-items: center;
  justify-content: center;
}

.btn-nav {
  display: flex;
  align-content: center;
  width: 300px;
  justify-content: space-between;
}
