header {
  margin-bottom: 50px;
}

.js-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.main-page {
  display: flex;
  justify-content: center;
}

.main-conteiner {
  width: 100vh;
}

.js-header {
height: 80px;
}

.js-nav {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  width: 500px;
}
.js-nav-link {
  color: rgb(255, 255, 255);
}

.main-title {
  display: flex;
  justify-content: space-around;
  font-size: 60px;
  height: 300px;
  align-items: center;
}

.js-btn {
  display: flex;
  height: 50px;
  width: 130px;
  align-items: center;
  justify-content: center;
}

.btn-nav {
  display: flex;
  align-content: center;
  width: 300px;
  justify-content: space-between;
  
}
